OSC_S3_ENDPOINT=https://s3.us-east-1.amazonaws.com
OSC_S3_BUCKET=os-climate-physical-risk
OSC_S3_ACCESS_KEY=
OSC_S3_SECRET_KEY=
OSC_S3_BUCKET_DEV=physrisk-hazard-indicators-dev01
OSC_S3_ACCESS_KEY_DEV=
OSC_S3_SECRET_KEY_DEV=

# JWT auth
PHYSRISK_JWT_SECRET=
# JSON mapping of API key to list of scopes, e.g. {"my-secret-key": ["jba/api"]}
PHYSRISK_API_KEYS={}
